
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
box-sizing: border-box;

}
body{
   background: linear-gradient(pink,lightblue,lightcoral);
overflow-x: hidden;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(205, 92, 92);
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-fluid h2{
font-weight: 600;
}
.container-fluid h2:hover{
color: white;
cursor: pointer;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
    
}
.nav-item {
  display: flex;
  gap: 20px;
}

.nav-item a {
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
  font-weight: 600;
  text-decoration: none;
}
.nav-item a:hover {
  text-decoration: underline;
  color: white;
}
.cart{
  display: flex;
  gap: 5px;
}
.cart-icon,
.user-icon {
   align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin-top: 10px; gap: 15px;
}

.cart-icon:hover,
.user-icon:hover {
  transform: scale(1.1);
}
.bgimg{
  margin-top: 40px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/240/364/original/shopping-online-on-phone-paper-art-modern-pink-background-gifts-box-free-vector.jpg");
  background-size: 100% 100%;
  height: 600px;

}

.content  {

text-align: center;
padding: 30px;
  font-size: 15x;
}
.content p{
font-size: 20px;
font-weight: 700;
margin-top: 8px;
}
.btn{
  background-color: indianred;
  color: white;
  padding: 5px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 0px black;
}
.btn:hover{
  background-color: lightcoral;
  transform: scale(1.1);
}


.container {
  text-align: center;
  margin-top: 30px;
}
.img-fluid{
  border-radius: 40px;
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 2px 2px rgb(106, 104, 104);
}

.row {

display: flex;
  justify-content: space-around;
}
h4{
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}


.container1 {

margin-top: 60px;
padding: 0px 90px;
}
.img-icon{
margin-top: 3px;
  width: auto;;
height: 50px;
}

.container1 .col{
 margin-bottom: 10px;

  height: auto;
border: 2px solid black;
box-shadow: 2px 2px 2px 2px black;
border-radius: 20px;
width: 200px;
}
h5{
  font-size:15px;
  font-weight:650;
  margin-bottom: 10px;
}
p{
  padding: 0 5px;
  font-size: 15px;
  font-weight: 500;
}
.container2{
  padding: 20px 70px;
    text-align: center;

}
.row2{
  display: flex;
  justify-content: space-around;
}
.imgpro{
  
margin-left: -15px;
  width: 250px;
  height: 250px;
 
}
.container2 .col-lg-3{
  background-color: rgb(205, 92, 92);
 margin-bottom: 10px;
border-radius: 30px 0px;
  height: 380px;
border: 2px solid black;
box-shadow: 2px 2px 2px 2px black;
width: 250px;
  transition: transform .22s ease, box-shadow .22s ease;
}
.col-lg-3 h5{
  color: white;
  margin-top: 5px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.btn1{
  padding: 7px;
  background-color: rgb(247, 169, 54);
  border: none;
  font-size: 15px;
  font-weight: 500;
    margin-top:-80px;
border-radius: 20px;
}
.cart-icon2{
  height: 30px;
}
.btn1:hover{
  cursor: pointer;
  background-color: white;
     transform: translateX(-4px); 
}
.container3{
  padding: 15px 50px;
 text-align: center;

}
.row{
  display: flex;
  justify-content:space-around;
}
.imgAbout{
size:100% 100%;
height: 350px;

border-radius: 0px 30px;
}


h2{
  font-size: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}
.para{
   font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}
.bgimgF{
  background-image:url("https://static.vecteezy.com/system/resources/previews/010/803/399/original/background-with-colorful-shopping-bags-illustration-sale-and-discount-concept-vector.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.container4{
  padding: 20px 40px;
}
h4{
  font-size: 28px;
  font-weight: 700;
}
ul li{
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}
.card{
  padding: 30px;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 4px 4px 4px 2px black;
 margin-bottom:30px;
}
.btn4{
 font-size: 18px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 500;
 padding: 5px;
 border-radius: 20px;
margin-bottom: 20px;
 background-color: rgb(240, 116, 116);
}
.btn4:hover{
cursor: pointer;
box-shadow: 2px 2px 2px 2px black;

}
.card h2:hover{
color: white;
}

.container2 {
 padding: 20px 110px;
    text-align: center;
}

.container2 .col{
  background-color: rgb(205, 92, 92);
 margin-bottom: 10px;
border-radius: 30px 0px;
  height: 380px;
border: 2px solid black;
box-shadow: 2px 2px 2px 2px black;
width: 250px;
  transition: transform .22s ease, box-shadow .22s ease;
}

.imgpro {
   object-fit: cover;
  transition: transform 0.3s ease; 
  size:100% 100%;
  width: 250px;
height: 250px;
}

.imgpro:hover {
  transform: scale(1.05);
}

 h5 {
  color: black;
  margin-top: 5px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}


.iconpro {
  margin-top: -30px;
  height: 80px;
 margin-bottom: -10px;
}

.iconpro:hover {
  opacity: 1;
}


.btn1 {
  background: linear-gradient(135deg, #ff7b54, #ffb26b);
  border: none;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 0.95rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn1:hover {
  background: linear-gradient(135deg, #ff6a3d, #ff9a3d);
  box-shadow: 0 4px 12px rgba(255, 122, 84, 0.4);
  transform: translateY(-2px);
}


.cart-icon2 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 12px auto 0;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.cart-icon2:hover {
  transform: rotate(15deg) scale(1.1);
}


h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 550;
  padding: 20px;
  margin-top: 50px;
}



.cart sup {
  position: absolute;
  top: 8px;      
  right: 125px;   
  background: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  line-height: 1;
}
.container5{
  margin-top: 70px;
  text-align: center;
height: 700px;
}
.container5 h2{
  font-size: 50px;
 
}
.cart{
  margin-top: -10px;
  margin-right: 20px;
}
.btn5{
  padding: 5px ;
  background-color: lightblue;
  font-size: 15px;
  border-radius: 50px;

}
.pcart{
  margin-top: -10px;
  font-size: 25px;
  font-weight: 600;
}
.carts img{
  height: 200px;
  width: 240px;
  border-radius: 0px 20px;
}


.check{
  height: 50px;
  width: 100px;
}
.btnA{
background-color: lightblue;
border-radius: 20px;
  padding: 0px 10px;
}
.btnC{
  padding:8px 10px;
  background-color: lightblue;
border-radius: 20px;
}
.container7{
  margin-top: 90px;
}
.carts {
  padding: 15px;
  height: 460px;
 width:300px;
 
}

.cart-item {
  width: 100%;
  height: 100%;
  background-color: rgb(205, 92, 92);
  border: 2px solid black;
  border-radius: 0px 30px;
  box-shadow: 4px 4px 4px 2px black;
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cart-item:hover {
  transform: translateY(-5px);
 
}

.cart-item h5 {
  font-size: 1.1rem;
  margin: 10px 0;
}
.btnR{
  padding: 5px 10px;
  background-color: lightblue;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.cart-item p {
  margin: 5px 0;
}
.form-label{
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}
.btn6{
  font-size: 18px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 500;
 padding: 8px;
 border-radius: 20px;
 background-color: lightblue;
}
.btn6:hover{
  cursor: pointer;
}




